section {
    background: white;
    border: 1px solid #EC4F93;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #ea5ee863;
    color: #3f3038;
    margin: 20px 32px;
    padding: 24px 24px 18px 24px;
}

section#section-searchEngine {
    border: 1px solid orange;
    margin: 48px 100px;
    padding: 24px 24px 12px 24px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}

#input-word{
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 24px;
    padding: 6px; 
    width:50%;
}

#input-search{
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    padding: 6px; 
    transition: 150ms ease-in-out;
    width:112px;
}

#input-search:hover{
    background-color: #5456F1;
    border: 1px solid black;
    color: white;
}

p.hints {
    font-size: 13px;
    margin-top: 6px;
    margin-left: 6px;
}