.definition{
    font-size: 15px;
    margin-top: 24px;
    margin-bottom: 6px;
}

.definition-example {
    font-size: 14px;
    font-style: italic;
    opacity: 0.7;
}

.Synonyms ul{
    font-size: 14px;
    list-style: none;
    padding: 0;
}

.Synonyms li{
    display: inline-block;
    margin-right: 12px;
    margin-left: 12px;
}

/* ------- RESPONSIVE DESIGN ----------- */

/*  RESPONSIVE DESIGN (large cell phones) */
@media screen and (max-width: 425px) {
  .definition{
    font-size: 13px;
}
.definition-example {
    font-size: 11px;
}
.Synonyms ul{
    font-size: 11px;
}
}

/*  RESPONSIVE DESIGN (narrow cell phones) */
@media screen and (max-width: 350px) {
    .definition{
    font-size: 12px;
}
    .definition-example {
    font-size: 11px;
}
    .Synonyms ul{
    font-size: 11px;
}
}

