.Results {
    border: 2px solid orange;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #ea5ee863;
    color: #3f3038;
    margin: 48px 100px 12px 100px;
    padding: 4px;
}


h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

h4 {
    color: #5456F1;
}
