.Results {
    border: 2px solid orange;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #ea5ee863;
    color: #3f3038;
    margin: 48px 100px 12px 100px;
    padding: 4px;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

h4 {
    color: #5456F1;
}

/* ------- RESPONSIVE DESIGN ----------- */

/*  RESPONSIVE DESIGN (large cell phones) */
@media screen and (max-width: 425px) {
    .Results {
        margin-right: 15px;
        margin-left: 15px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 16px;
    }
  
}

/*  RESPONSIVE DESIGN (narrow cell phones) */
@media screen and (max-width: 350px) {
    .Results {
        margin: 24px 15px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 15px;
    }
}